@model TimesheetViewModel
@{
    Layout = "_ProviderDashboardLayout";
}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="d-flex justify-content-end">
            <button onclick="history.back()" class="btn btn-outline-info my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                Back
            </button>
        </div>
        <div class="shadow-lg rounded-3 p-3">
            <form method="post">
                <input asp-for="EndDate" hidden />
                <input asp-for="StartDate" hidden />
                <table class="table table-hover">
                    <thead class="table-head table-secondary">
                        <tr>
                            <th>Date</th>
                            <th>On Call Hours</th>
                            <th>Total Hours</th>
                            <th>Weekend/Holiday</th>
                            <th>No. of HouseCalls</th>
                            <th>No. of Consults</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TimesheetData.Count; i++)
                        {
                            <tr>
                                <input asp-for="@Model.TimesheetId" hidden />
                                <input asp-for="@Model.TimesheetData[i].TimesheetDates" hidden />
                                <td>@Model.TimesheetData[i].TimesheetDates</td>
                                <td>0</td>
                                <td><input class="form-control" asp-for="@Model.TimesheetData[i].TotalWorkingHours" type="number" min="0" /></td>
                                <td class="text-center"><input class="form-check-input" asp-for="@Model.TimesheetData[i].IsHoliday" type="checkbox" /> </td>
                                <td><input class="form-control" asp-for="@Model.TimesheetData[i].NoOfHouseCalls" type="number" min="0" /></td>
                                <td><input class="form-control" asp-for="@Model.TimesheetData[i].NoOfPhoneConsults" type="number" min="0" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-end">
                    <button class="btn btn-info text-light my-3">Submit</button>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-end">
            <button onclick="removeReceipts()" id="removeReceiptButton" class="text-light btn btn-danger my-3 d-none">Remove Receipts</button>
            <button onclick="showAddReceipts()" id="addReceiptButton" class="text-light btn btn-info my-3">Add Receipts</button>
            <a id="clickRemoveReceipt" href="#removeReceiptButton">          </a>
            <input class="form-check-input" type="checkbox" id="isReceiptAdded" hidden />
        </div>
        <div id="addReceiptsDivision" class="d-none shadow-lg rounded-3 mb-3 p-3">
            <table class="table table-hover ">
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                </colgroup>
                <thead class="table-secondary">
                    <tr>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Bill</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.AddReceiptsData != null)
                    {
                        
                    @for (int i = 0; i < Model.TimesheetData.Count; i++)
                    {
                        <form method="post" asp-action="ProviderAddReceipts" asp-controller="Provider" enctype="multipart/form-data">
                            <input hidden name="TimesheetDetailId" asp-for="@Model.AddReceiptsData[i].TimesheetDetailId" />
                            <input hidden name="DateOfAddReceipts" asp-for="@Model.AddReceiptsData[i].DateOfAddReceipts" />
                            <input hidden name="TimesheetReimbursementId" asp-for="@Model.AddReceiptsData[i].TimesheetReimbursementId" />
                        <tr>
                            <td>@Model.TimesheetData[i].TimesheetDates</td>
                            <td>
                                    @if (Model.AddReceiptsData[i].TimesheetReimbursementId == 0)
                                    {
                                    <input type="text" class="form-control" asp-for="@Model.AddReceiptsData[i].Items" name="Items" />
                                     
                                    }
                                    else
                                    {
                                    <input type="text" id="disabledItemsInput" disabled class="form-control receipt-item-name-input" asp-for="@Model.AddReceiptsData[i].Items" name="Items" />
                                    }
                            </td>
                            <td>
                                    @if (Model.AddReceiptsData[i].TimesheetReimbursementId != 0)
                                    {
                                    <input type="number" id="disabledAmountInput" min="0" class="form-control receipt-item-amount-input" disabled asp-for="@Model.AddReceiptsData[i].Amount" name="Amount" />
                                    }
                                    else
                                    {
                                    <input type="number" min="0" class="form-control" asp-for="@Model.AddReceiptsData[i].Amount" name="Amount" />
                                    }
                            </td>
                            <td>
                                    @if (Model.AddReceiptsData[i].TimesheetReimbursementId == 0)
                                    {
                                    <input type="file" accept=".pdf" class="form-control" asp-for="@Model.AddReceiptsData[i].BillAttachment" name="BillAttachment" />
                                    }
                                    else
                                    {
                                        @Model.AddReceiptsData[i].BillAttachmentFileName
                                    }
                            </td>
                            <td>
                                    @if (Model.AddReceiptsData[i].TimesheetReimbursementId == 0)
                                    {
                                    <button class="btn btn-info text-light" type="submit">Submit</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-info receipt-edit-btn" type="button">Edit</button>
                                        <button class="btn btn-outline-info receipt-delete-btn" data-timesheetreimbursementid="@Model.AddReceiptsData[i].TimesheetReimbursementId" type="button">Delete</button>
                                        <a href="~/Content/TimesheetAttachments/@Model.AddReceiptsData[i].TimesheetReimbursementId@Model.AddReceiptsData[i].BillAttachmentFileName" class="btn btn-outline-info receipt-view-btn" type="button">View</a>
                                        <button class="btn btn-outline-info receipt-save-btn" type="submit" style="display:none">Save</button>
                                        <button class="btn btn-outline-danger receipt-cancel-btn" type="button" style="display:none">Cancel</button>
                                    }
                            </td>
                        </tr>
                        </form>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    // Get the button and the anchor link
    const addReceiptButton = document.getElementById('addReceiptButton');
    const clickRemoveReceipt = document.getElementById('clickRemoveReceipt');

    // Add a click event listener to the button
    addReceiptButton.addEventListener('click', () => {
        // Scroll to the anchor link
        clickRemoveReceipt.scrollIntoView({ behavior: 'smooth' });
    });

    function showAddReceipts() {
        $('#addReceiptButton').addClass('d-none');
        $('#removeReceiptButton').removeClass('d-none');
        $('#addReceiptsDivision').removeClass('d-none');
        $('#isReceiptAdded').prop("checked", true);
        $('#clickRemoveReceipt').trigger('click');
    }
    function removeReceipts() {
        $('#addReceiptButton').removeClass('d-none');
        $('#removeReceiptButton').addClass('d-none');
        $('#addReceiptsDivision').addClass('d-none');
        $('#isReceiptAdded').prop("checked", false);
    }

                function allowEdit(){
                    $('#disabledItemsInput').prop("disabled",false);
                    $('#disabledAmountInput').prop("disabled",false);
                }

                 $('.receipt-edit-btn').click(function () {
                    $(this).hide();
                    $(this).siblings('.receipt-delete-btn').hide();
                    $(this).siblings('.receipt-view-btn').hide();

                    $(this).siblings('.receipt-save-btn').show();
                    $(this).siblings('.receipt-cancel-btn').show();

                    $(this).closest('tr').find('.receipt-item-name-input').prop("disabled",false);

                    $(this).closest('tr').find('.receipt-item-amount-input').prop("disabled",false);
                });

                $('.receipt-cancel-btn').click(function () {
                    $(this).hide();
                    $(this).siblings('.receipt-save-btn').hide();

                    $(this).siblings('.receipt-delete-btn').show();
                    $(this).siblings('.receipt-view-btn').show();
                    $(this).siblings('.receipt-edit-btn').show();

                        $(this).closest('tr').find('.receipt-item-name-input').prop("disabled",true);

                        $(this).closest('tr').find('.receipt-item-amount-input').prop("disabled",true);

                });


            $('.receipt-delete-btn').click(function () {

                    let recordIdVal = $(this).data('timesheetreimbursementid');

                $.ajax({
                    url: "/Provider/DeleteReimbursementRecord",
                    data: { recordId: recordIdVal },
                    type: 'POST',
                    success: function (result) {
                        if (result) {
                            location.reload();
                        }
                    },
                    error: function (error) {
                        console.log('Error Updating Location')
                        console.log(error);
                    },
                });

            });


</script>