@model List<PatientHistoryTableViewModel>
<div class="table-responsive">
    <table class="table mt-3 px-3">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead class="table-secondary">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].FirstName</td>
                    <td>@Model[i].LastName</td>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].PhoneNumber</td>
                    <td>@Model[i].Address</td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="PatientRecords" asp-controller="Admin" asp-route-Userid="@Model[i].UserId">Explore</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


